body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex-grow:1;
}

a {
    text-decoration:none !important;
}

input{
    width:75%;
    border-radius:25px;
    font-size:20px;
    outline:none;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

textarea{
    width:90%;
    border-radius:15px;
    font-size:20px;
    outline:none;
}

hr{
    width:90%;
    background-color:black;
}

.headline{
    font-size:8vw;
}

.headline-sm{
    font-size:6vw;
}

.icon-row i{
    font-size:8vw;
}

.form-container{
    border-radius:25px;
    width:85%
}

.form-header{
    font-size:1.5em;
}

.card{
    width:98%;
    display:flex;
    justify-content:center;
}

/*---------- Flash Messages ----------*/

.flashes{
    line-height:2;
    color:rgb(253, 87, 87);
    font-size:3vw;
}

/*---------- Colors ----------*/

.grey{
    background-color:rgba(238, 238, 238, 0.555);
}

.dark-grey{
    color:rgb(155, 155, 155);
}

.white{
    background-color:white;
}

.red{
    color:rgb(253, 87, 87);

}
.pink{
    background-color:#ecb09979;
}

.dark-blue{
    color:rgb(110, 110, 255);
}

.blue{
    background-color:#bedbfd7e;
}

.dark-orange{
    color:rgb(255, 187, 0);
}

.orange{
    background-color:#f9cf8b70;
}

/*---------- Navbar ----------*/

.navbar-logo{
    font-family: 'Kanit', sans-serif;
    font-size:3vh;
    color:black;
}

.navbar-logo:hover{
    color:black;
}

.nav-login{
    background-color:rgb(253, 87, 87);
    color:white;
    border-radius:25px;
}

.nav-login:hover{
    background-color:#ecb099;
    color:white;
}

.login-btn:hover{
    color:white;
    background-color:#ecb099;
}

.hamburger{
    font-size:4vh;
    color:black;
}

/*---------- Home Page ----------*/

.home-container-lg{
    display:none;
}

.home-container-sm{
    width:85%;
}

.home-headline{
    font-size:6vw;
}

.text-container{
    width:42.5%;
}

.icon-container{
    width:42.5%;
}

.icon-container i{
    font-size:18vw;
}

.home-icon-row i{
    font-size:8em;
}

.register-btn{
    background-color:rgb(253, 87, 87);
    color:white;
    width:175px;
    border-radius:25px;
}

.register-btn:hover{
    color:white;
    background-color:#ecb099;
}

.tabs-btn{
    background-color:rgb(253, 87, 87);
    color:white;
    width:75%;
    border-radius:25px;
}

.tabs-btn:hover{
    background-color:#ecb099;
    color:white;
}

.happy-container{
    border-radius:25px 0px 0px 0px;
    width:50%
}

.angry-container{
    border-radius:0px 0px 0px 25px;
    width:50%
}

.sad-container{
    border-radius:0px 0px 25px 0px;
    width:50%
}

.love-container{
    border-radius:0px 25px 0px 0px;
    width:50%
}

.love-face{
    color:rgb(255, 131, 131);
}

/* Home Page Info Section */

.feature-container{
    width:90%;
}

.icon-size{
    font-size:15vw;
}
.fa-address-card{
    --fa-primary-color:rgb(255, 187, 0);
    --fa-secondary-color:#bedbfd7e;
}

.fa-calendar-alt{
    --fa-primary-color:rgb(253, 87, 87);
    --fa-secondary-color:#676b76d8;
}

.fa-hands-heart{
    --fa-primary-color:rgb(253, 87, 87);
    --fa-secondary-color:#f9cf8b70;
}

.fa-thumbs-up{
    --fa-primary-color:rgb(110, 110, 255);
    --fa-secondary-color:#f9cf8b70;
}

.home-card-headline{
    font-size:2vw;
}

.create-tab-border{
    border:4px solid #bedbfd7e;
    border-radius:25px;
    min-height:300px;
}

.keep-tab-border{
    border:4px solid rgba(238, 238, 238, 0.555);
    border-radius:25px;
    min-height:300px;
}

.gift-card-border{
    border:4px solid #ecb09979;
    border-radius:25px;
    min-height:300px;
}

.relationship-border{
    border:4px solid #f9cf8b70;
    border-radius:25px;
    min-height:300px;
}

.register-btn-bottom{
    background-color:rgb(253, 87, 87);
    color:white;
    width:300px;
    border-radius:25px;
}

.register-btn-bottom:hover{
    color:white;
    background-color:#ecb099;
}

.home-stat-headline{
    font-size:2em;
}

.home-stat{
    font-size:8vw;
}

/*---------- Registration Page ----------*/

.reg-background{
    background-color:#676b76d8;
}

.reg-input{
    border:2px solid #676b76;
}

.reg-input:focus{
    outline:none;
}

.reg-btn{
    background-color:rgb(253, 87, 87);
    color:white;
    width:60%;
    border-radius:25px;
}

.reg-btn:hover{
    color:white;
    background-color:#ecb099;
}

/*---------- Login Page ----------*/

.login-input{
    border:2px solid #bedbfd;
}

.login-input:focus{
    outline:none;
}

.login-btn{
    background-color:rgb(255, 187, 0);
    color:white;
    width:60%;
    border-radius:25px;
}

.login-btn:hover{
    color:white;
    background-color:#f9ce8b;
}

.nav-register{
    background-color:rgb(255, 187, 0);
    color:white;
    border-radius:25px;
}

.nav-register:hover{
    color:white;
    background-color:#f9ce8b;
}

/*---------- Tabs Page ----------*/

.fa-user{
    font-size:8vw;
    --fa-primary-color:black;
    --fa-secondary-color:rgba(160, 160, 160, 0.534);
}

.add-edit-delete{
    outline: none !important;
    box-shadow: none;
    background-color:white;
    border:none;
    color:rgba(168, 168, 168, 0.651);
}

.add-edit-delete:hover{
    color:black;
}

.modal-content{
    border:none;
    border-radius:25px;
}

.modal-delete{
    background-color:rgb(255, 167, 167);
}

.delete-input{
    border:2px solid rgba(255, 167, 167, 0.849);
}

.delete-btn{
    background-color:rgb(253, 87, 87);
}

.modal-new{
    background-color:#bedbfd;
}

.new-input{
    border:2px solid #bedbfde8;
}

.new-btn{
    background-color:rgb(110, 110, 255);
}

.modal-edit{
    background-color:#f9cf8b;
}

.edit-input{
    border:2px solid #f9cf8bea;
}

.edit-btn{
    background-color:rgb(255, 187, 0);
}

.create-submit{
    color:white;
    width:60%;
    border-radius:25px;
}

.create-submit:hover{
    background-color:rgb(194, 194, 194);
    color:white;
}

.no-show{
    display:none;
}


/*---------- Profile Page ----------*/

.profile-header{
    font-size:4vw;
}

.feelings i{
    font-size:11vw;
}

.feelings-btn{
    outline: none !important;
    box-shadow: none;
    background-color:white;
    border:none;
}

.happy:hover{
    background-color:#f9cf8b70;
    border-radius:50%;
    box-shadow: 0 0 8px 8px white inset;
}

.sad:hover{
    background-color:#bedbfde8;
    border-radius:50%;
    box-shadow: 0 0 8px 8px white inset;
}

.angry:hover{
    background-color:rgba(255, 167, 167, 0.849);
    border-radius:50%;
    box-shadow: 0 0 8px 8px white inset;
}

.cancel-button{
    color:white;
    width:30%;
    border-radius:25px;
}

.date{
    font-size:1.5em;
}

.entry-modal{
    background-color:#f9cf8b;
}

.entry-button{
    background-color:rgb(255, 187, 0);
}

.entry-input{
    border:2px solid #f9cf8bea;
}

.tool-box{
    background-color:rgb(238, 238, 238);
    border-radius:25px;
    width:99%;
    height:330px;
}

.email-input{
    border:2px solid rgb(204, 204, 204);
}

.submitBtn{
    color:white;
    background-color:rgb(204, 204, 204);
    border-radius:25px;
}

.submitBtn:hover{
    color:white;
    background-color:black;
}

#subject{
    width:70%;
}

.fa-coffee-togo{
    font-size:11vw;
    --fa-primary-color:rgb(253, 87, 87);
    --fa-secondary-color:rgb(155, 155, 155);
}

.fa-coffee-togo:hover{
    --fa-primary-color:rgb(110, 110, 255);
    --fa-secondary-color:rgb(107, 107, 107);
}

#email-h1{
    font-size:6vw;
}

.total-icons{
    font-size:3.5vw;
}

.fa-equals{
    font-size:2vw;
}

.fa-file-search{
    font-size:11vw;
    --fa-primary-color:rgb(110, 110, 255);
    --fa-secondary-color:rgb(155, 155, 155);
}

.fa-file-search:hover{
    --fa-primary-color:rgb(253, 87, 87);
    --fa-secondary-color:rgb(107, 107, 107);
}

.carousel-arrows{
    font-size:40px;
}

/*---------- Results ----------*/

.results-box{
    background-color:rgb(238, 238, 238);
    border-radius:25px;
    width:99%;
    height:330px;
}

.result-icon{
    font-size:6em;
}

.fa-smile{
    color:rgb(255, 187, 0);
}

.fa-frown{
    color:rgb(110, 110, 255);
}

.fa-angry{
    color:rgb(253, 87, 87);
}

.result-date{
    font-size:20px;
}

/*---------- Footer ----------*/

.page-footer{
    width:100%;
    bottom:0;
    left:0;
}

.list-inline li{
    display:inline;
}

.list-inline li i{
    font-size:30px;
    color:black;
}

.list-inline li i:hover{
    color:white;
}

/*---------- Media Queries ----------*/

@media (max-width: 588px) {
    .nav-sm{
        display:block;
    }
    .nav-lg{
        display:none;
    }    
}

@media (min-width: 588px) {
    .nav-lg{
        display:block;
    } 
    .nav-sm{
        display:none;
    }
} 

@media (min-width: 800px) {
    .form-header{
        font-size:2em;
    }
} 

@media (min-width: 1300px) {
    .form-header{
        font-size:2.5em;
    }

    .icon-size{
        font-size:12em;
    }
} 

@media (min-width: 992px) {
    .home-container-lg{
        display:flex;
        justify-content:center;
    }

    .home-container-sm{
        display:none;
    }
}

@media (max-width: 767px) {
    .home-card-headline{
        font-size:5vw;
    }

    #myCarousel{
        display:flex;
    }

    .fa-coffee-togo{
        font-size:8em;
    }

    .fa-file-search{
        font-size:8em;
    }

    .feelings i{
    font-size:4em;
    }

    .total-icons{
    font-size:3em;
    }

    .profile-header{
    font-size:7vw;
    }

    .home-stat{
    font-size:8em;
    }
}

@media (min-width: 768px) {
    #myCarousel{
        display:none;
    }
}

@media (min-width: 2000px) {
    .fa-coffee-togo{
        font-size:9vw;
    }

    .fa-file-search{
        font-size:9vw;
    }
}

@media (min-width: 1850px) {
    .total-icons{
    font-size:2.5vw;
    }
}

@media (max-width: 991px) {
    .fa-coffee-togo{
    font-size:8em;
}

    .fa-file-search{
    font-size:8em;
}
}
