body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex-grow:1;
}

a {
    text-decoration:none !important;
}

input{
    width:75%;
    border-radius:25px;
    font-size:20px;
}

hr{
    width:90%;
    background-color:black;
}

.headline{
    font-size:8vw;
}

.headline-sm{
    font-size:6vw;
}

.icon-row i{
    font-size:8vw;
}

.form-container{
    border-radius:25px;
    width:85%
}

.form-header{
    font-size:1.5em;
}

.card{
    width:98%;
    display:flex;
    justify-content:center;
}

/*---------- Flash Messages ----------*/
.flashes{
    line-height:2;
    color:rgb(253, 87, 87);
    font-size:3vw;
}

/*---------- Colors ----------*/
.grey{
    background-color:rgba(238, 238, 238, 0.555);
}

.white{
    background-color:white;
}

.red{
    color:rgb(253, 87, 87);

}
.pink{
    background-color:#ecb09979;
}

.dark-blue{
    color:rgb(110, 110, 255);
}

.blue{
    background-color:#bedbfd7e;
}

.dark-orange{
    color:rgb(255, 187, 0);
}

.orange{
    background-color:#f9cf8b70;
}

/*---------- Navbar ----------*/

.navbar-logo{
    font-family: 'Kanit', sans-serif;
    font-size:3vh;
    color:black;
}

.navbar-logo:hover{
    color:black;
}

.nav-login{
    background-color:rgb(253, 87, 87);
    color:white;
    border-radius:25px;
}

.nav-login:hover{
    background-color:#ecb099;
    color:white;
}

.login-btn:hover{
    color:white;
    background-color:#ecb099;
}

.hamburger{
    font-size:4vh;
    color:black;
}

/*---------- Home Page ----------*/

.home-container-lg{
    display:none;
}

.home-container-sm{
    width:85%;
}

.home-headline{
    font-size:6vw;
}

.text-container{
    width:42.5%;
}

.icon-container{
    width:42.5%;
}

.icon-container i{
    font-size:18vw;
}

.home-icon-row i{
    font-size:8em;
}

.register-btn{
    background-color:rgb(253, 87, 87);
    color:white;
    width:175px;
    border-radius:25px;
}

.register-btn:hover{
    color:white;
    background-color:#ecb099;
}

.tabs-btn{
    background-color:rgb(253, 87, 87);
    color:white;
    width:75%;
    border-radius:25px;
}

.tabs-btn:hover{
    background-color:#ecb099;
    color:white;
}

.happy-container{
    border-radius:25px 0px 0px 0px;
    width:50%
}

.angry-container{
    border-radius:0px 0px 0px 25px;
    width:50%
}

.sad-container{
    border-radius:0px 0px 25px 0px;
    width:50%
}

.love-container{
    border-radius:0px 25px 0px 0px;
    width:50%
}

.love-face{
    color:rgb(255, 131, 131);
}

/*---------- Accordion Home Page ----------*/

.feature-container{
    width:90%;
}

.fa-address-card{
    font-size:15vw;
    --fa-primary-color:rgb(255, 187, 0);
    --fa-secondary-color:#bedbfd7e;
}

.fa-calendar-alt{
    font-size:15vw;
    --fa-primary-color:rgb(253, 87, 87);
    --fa-secondary-color:#676b76d8;
}

.fa-hands-heart{
    font-size:15vw;
    --fa-primary-color:rgb(253, 87, 87);
    --fa-secondary-color:#f9cf8b70;
}

.fa-thumbs-up{
    font-size:15vw;
    --fa-primary-color:rgb(110, 110, 255);
    --fa-secondary-color:#f9cf8b70;
}

.fa-plus-circle{
    font-size:3vw;
    color:rgba(0, 0, 0, 0.24);
    --fa-primary-color:white;
    --fa-secondary-color:#676b76d8;
}

.fa-minus-circle{
    font-size:3vw;
    color:rgba(0, 0, 0, 0.24);
    --fa-primary-color:white;
    --fa-secondary-color:#676b76d8;
}

/*---------- Registration Page ----------*/

.reg-background{
    background-color:#676b76d8;
}
.reg-input{
    border:2px solid #676b76;
}

.reg-input:focus{
    outline:none;
}

.reg-btn{
    background-color:rgb(253, 87, 87);
    color:white;
    width:60%;
    border-radius:25px;
}

.reg-btn:hover{
    color:white;
    background-color:#ecb099;
}

/*---------- Login Page ----------*/

.login-input{
    border:2px solid #bedbfd;
}

.login-input:focus{
    outline:none;
}

.login-btn{
    background-color:rgb(255, 187, 0);
    color:white;
    width:60%;
    border-radius:25px;
}

.login-btn:hover{
    color:white;
    background-color:#f9ce8b;
}

.nav-register{
    background-color:rgb(255, 187, 0);
    color:white;
    border-radius:25px;
}

.nav-register:hover{
    color:white;
    background-color:#f9ce8b;
}

/*---------- Footer ----------*/

.page-footer{
    width:100%;
    bottom:0;
    left:0;
}

.list-inline li{
    display:inline;
}

.list-inline li i{
    font-size:30px;
    color:black;
}

.list-inline li i:hover{
    color:white;
}

/*---------- Media Queries ----------*/

@media (max-width: 588px) {
    .nav-sm{
        display:block;
    }
    .nav-lg{
        display:none;
    }    
}

@media (min-width: 588px) {
    .nav-lg{
        display:block;
    } 
    .nav-sm{
        display:none;
    }
} 

@media (min-width: 800px) {
    .form-header{
        font-size:2em;
    }
} 

@media (min-width: 1300px) {
    .form-header{
        font-size:2.5em;
    }
} 

@media (min-width: 992px) {
    .home-container-lg{
        display:flex;
        justify-content:center;
    }

    .home-container-sm{
        display:none;
    }
}
