{% extends "base.html" %}
{% block content %}

<div class="container-fluid d-flex">
    <div class="text-container p-2 pr-3">
        <div class="row">
            <div class="col-12 home-headline">Relationship<br>Health Tracker.</div>
        </div>
        <div class="row">
            <div class="col-12">Relationships play an important role in our personal health and wellbeing.
            A healthy relationship is proven to contribute to a long, happy life.
            While the health risks associated with a toxic one is comparable to smoking, high blood 
            pressure and obesity.
            </div>
        </div>
    </div>
    <div class="icon-container p-2 mt-2">
        <div class="row">
            <div class="col-6 happy-container orange d-flex justify-content-center">
                <i class="far fa-smile happy-face"></i>
            </div>
            <div class="col-6 love-container grey d-flex justify-content-center">
                <i class="far fa-grin-hearts love-face"></i>
            </div>
        </div>
        <div class="row">        
            <div class="col-6 sad-container blue d-flex justify-content-center">
                <i class="far fa-sad-tear sad-face"></i>
            </div>
            <div class="col-6 angry-container pink d-flex justify-content-center">
                <i class="far fa-angry angry-face"></i>
            </div>
        </div>        
    </div> 
</div>
<div class="row pt-1 pl-4">    
    <div class="col-12">Are you keeping tabs on your relationships?
        <a href="{{ url_for('register') }}" type="button" class="btn register-btn ml-2">Click To Register</a>
    </div>
</div>           
    <hr class="home-hr rounded">

{% endblock %}