{% extends "base.html" %}
{% block content %}
{% if not session.user %}
    <header>
<!-- Navigation -->    
        <div class="row mx-2 mt-2 mb-2">
            <div class="col-6 d-flex align-items-center">
                <a href="{{ url_for('home') }}" class="navbar-logo">Keeping<strong>TABS</strong></a>
            </div>        
            <div class="col-6 d-flex align-items-start justify-content-end">
            <a href="{{ url_for('login') }}" class="btn nav-login mt-1 ml-2">Log in</a>
            </div>           
        </div>    
    </header>
    <hr class="mt-3 mb-4 rounded">
{% endif %}



    <div id="content">
<!-- Callout Container Large Screens -->
        <div class="container-fluid home-container-lg">
            <div class="text-container mr-5">
            {% if session.user %}
                <div class="row">
                    <h1 class="col-12 home-headline text-center">Welcome Back!</h1>
                </div>
                <div class="row">
                    <div class="col-12">
                    Appreciation is a key to any relationship. While it may be hard at times to 
                    forget the disappointments of your day, take a minute to keep tabs of someone that
                    provided a bright spot. No matter how small it may be. Send them a thank you gift, email or even a simple text message.
                    <br>
                    <br>
                    Appreciating someone makes them feel good about what they do, and that it is making a difference to their lives.
                    </div>
                </div>
                <div class="row text-center icon-row mt-4">
                    <div class="col-4">
                        <i class="fas fa-gift-card happy"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-envelope-open-text angry"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-comment-smile sad"></i>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-12 home-headline">Relationship<br>Health Tracker.</div>
                </div>
                <div class="row">
                    <div class="col-12">Relationships play an important role in our personal health and wellbeing. A healthy relationship is proven to contribute to a long, happy life. While the health risks associated with a toxic one is comparable to smoking, high blood pressure and obesity.
                    <br>
                    <br>
                    Ready to start keeping TABS?
                    </div>
                </div>
            {% endif %}    
<!-- To Tabs and To Registration Buttons-->        
            {% if session.user %}
                <div class="row mt-5">    
                    <div class="col-12 d-flex justify-content-center align-items-end">
                        <a href="{{ url_for('get_tabs') }}" class="btn btn-lg tabs-btn">Take me to my tabs!</a>
                    </div>
                </div>
                {% else %}
                <div class="row mt-3">    
                    <div class="col-12 d-flex justify-content-center align-items-end">
                        <a href="{{ url_for('register') }}" class="btn btn-lg register-btn text-center">Register</a>
                    </div>    
                </div>
            {% endif %}
            </div>
<!-- Emoticons -->    
            <div class="icon-container p-2 mt-2">
                <div class="row">
                    <div class="col-6 happy-container orange text-shadow d-flex justify-content-center">
                        <i class="far fa-smile happy"></i>
                    </div>
                    <div class="col-6 love-container grey text-shadow d-flex justify-content-center">
                        <i class="far fa-grin-hearts love-face"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 angry-container pink text-shadow d-flex justify-content-center">
                        <i class="far fa-angry angry"></i>
                    </div>        
                    <div class="col-6 sad-container blue text-shadow d-flex justify-content-center">
                        <i class="far fa-frown sad"></i>
                    </div>
                </div>        
            </div> 
        </div>

<!-- Callout Container Small Screens -->

        <div class="container-fluid home-container-sm p-0 mt-2">
<!-- Emoticons -->
            <div class="row home-icon-row">
                <div class="col-6 py-2 happy-container orange text-shadow d-flex justify-content-center">
                    <i class="far fa-smile happy"></i>
                </div>
                <div class="col-6 py-2 love-container grey text-shadow d-flex justify-content-center">
                    <i class="far fa-grin-hearts love-face"></i>
                </div>
            </div>
            <div class="row home-icon-row">
                <div class="col-6 py-2 angry-container pink text-shadow d-flex justify-content-center">
                    <i class="far fa-angry angry"></i>
                </div>        
                <div class="col-6 py-2 sad-container blue text-shadow d-flex justify-content-center">
                    <i class="far fa-frown sad"></i>
                </div>
            </div>
<!-- Callout -->
            <div class="my-2">
            {% if session.user %}
                <div class="row">
                    <div class="col-12 headline-sm text-center mb-2">Welcome Back!</div>
                </div>
                <div class="row">
                    <div class="col-12">
                    Appreciation is a key to any relationship. While it may be hard at times to 
                    forget the disappointments of your day, take a minute to keep tabs of someone that
                    provided a bright spot. No matter how small it may be. Send them a thank you gift, email or even a simple text message.
                    <br>
                    <br>
                    Appreciating someone makes them feel good about what they do, and that it is making a difference to their lives.
                    </div>
                </div>
                <div class="row icon-row text-center my-4">
                    <div class="col-4 ">
                        <i class="fas fa-gift-card happy"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-envelope-open-text angry"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-comment-smile sad"></i>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-12 headline-sm text-center my-2">Relationship Health Tracker</div>
                </div>
                <div class="row">
                    <div class="col-12">Relationships play an important role in our personal health and wellbeing. A healthy relationship is proven to contribute to a long, happy life. While the health risks associated with a toxic one is comparable to smoking, high blood pressure and obesity.
                    <br>
                    <br>
                    Ready to start keeping TABS?
                    </div>
                </div>
            {% endif %}
                <!-- To Tabs and To Registration Buttons-->        
            {% if session.user %}
                <div class="row mb-4">    
                    <div class="col-12 d-flex justify-content-center align-items-end">
                        <a href="{{ url_for('get_tabs') }}" class="btn btn-lg tabs-btn">Take me to my tabs!</a>
                    </div>
                </div>
                {% else %}
                <div class="row mt-4">    
                    <div class="col-12 d-flex justify-content-center align-items-end">
                        <a href="{{ url_for('register') }}" class="btn btn-lg register-btn text-center">Register</a>
                    </div>    
                </div>
            {% endif %}    
            </div>
        </div>

<hr class="black-hr my-4 rounded">

        <div class="container-fluid feature-container">
            {% if session.user %}           
             
<!-- Home Dashboard Large Screens -->            
            <div class="row d-none d-sm-flex mb-4">
                <div class="col-12 col-md-6 col-xl-3 text-center">
                    <div class="relationship-border pink d-flex flex-column justify-content-center">
                        <div class="home-stat angry">{{ profiles }}</div>
                    </div>
                    <div class="home-stat-headline angry mb-4">TABS Created</div>
                    
                </div> 
                <div class="col-12 col-md-6  col-xl-3 text-center">
                    <div class="create-tab-border blue d-flex flex-column justify-content-center">
                        <div class="home-stat sad">{{ logs }}</div>
                    </div>
                    <div class="home-stat-headline sad mb-4">Entries YTD</div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 text-center">
                    <div class="gift-card-border orange d-flex flex-column justify-content-center">
                        <div class="home-stat happy">{{ happyPercent }}%</div>   
                    </div>
                    <div class="home-stat-headline happy mb-4">Positive Entries</div> 
                </div>
                
                <div class="col-12 col-md-6 col-xl-3 text-center">
                    <div class="keep-tab-border grey d-flex flex-column justify-content-center py-4">
                        <div class="">
                            <i class="far fa-smile happy total-icons d-inline"></i>
                            <i class="fas fa-equals d-inline dark-grey mx-4"></i>
                            <h1 class="d-inline dark-grey">{{ happy }}</h1>
                        </div>
                        <div class="py-4">
                            <i class="far fa-frown sad total-icons d-inline"></i>
                            <i class="fas fa-equals d-inline dark-grey mx-4"></i>
                            <h1 class="d-inline dark-grey">{{ sad }}</h1>
                        </div>
                        <div class="">
                            <i class="far fa-angry angry total-icons d-inline"></i>
                            <i class="fas fa-equals d-inline dark-grey mx-4"></i>
                            <h1 class="d-inline dark-grey">{{ angry }}</h1>
                        </div>
                    </div>
                    <div class="home-stat-headline dark-grey mb-1">Scoreboard</div>
                </div>               
            </div>

<!-- Carousel Mobile Screens -->
            <div id="homeCarousel" class="carousel slide d-block d-sm-none text-center mb-4" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"> 
                        <div class="relationship-border pink d-flex flex-column justify-content-center">
                            <div class="home-stat angry">{{ profiles }}</div>
                            <div class="home-stat-headline angry mb-4">TABS Created</div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="create-tab-border blue d-flex flex-column justify-content-center">
                            <div class="home-stat sad">{{ logs }}</div>
                            <div class="home-stat-headline sad mb-4">Entries YTD</div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="gift-card-border orange d-flex flex-column justify-content-center">
                            <div class="home-stat happy">{{ happyPercent }}%</div>
                            <div class="home-stat-headline happy mb-4">Positive Entries</div>   
                        </div> 
                    </div>
                    <div class="carousel-item">
                        <div class="keep-tab-border grey d-flex flex-column justify-content-center">
                            <div class="">
                                <i class="far fa-smile happy total-icons d-inline"></i>
                                <i class="fas fa-equals d-inline dark-grey mx-4"></i>
                                <h1 class="d-inline dark-grey">{{ happy }}</h1>
                            </div>
                            <div class="py-4">
                                <i class="far fa-frown sad total-icons d-inline"></i>
                                <i class="fas fa-equals d-inline dark-grey mx-4"></i>
                                <h1 class="d-inline dark-grey">{{ sad }}</h1>
                            </div>
                            <div class="">
                                <i class="far fa-angry angry total-icons d-inline"></i>
                                <i class="fas fa-equals d-inline dark-grey mx-4"></i>
                                <h1 class="d-inline dark-grey">{{ angry }}</h1>
                            </div>
                            <div class="home-stat-headline dark-grey mb-1">Scoreboard</div>
                        </div> 
                    </div>
                </div>
                <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left dark-grey carousel-arrows" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
                    <i class="fas fa-chevron-right dark-grey carousel-arrows" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>            

            {% else %}

<!-- Create TAB Card -->            
              
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="create-tab-border d-flex p-3">
                        <i class="fad fa-address-card d-inline align-self-center icon-size"></i>
                        <p class="d-inline ml-3 align-self-center"><span class="home-card-headline font-weight-bold">Create TABS</span><br><br>Create a profile for anyone you want to keep tabs of. Friends, family, colleagues, they are all fair game!</p>
                    </div>
                </div>

<!-- Calendar Card --> 

                <div class="col-12 col-md-6">
                    <div class="keep-tab-border d-flex p-3">
                        <i class="fad fa-calendar-alt d-inline align-self-center icon-size"></i>
                        <p class="d-inline ml-3 align-self-center"><span class="home-card-headline font-weight-bold">Keep TABS Daily</span><br><br>There is no limit on how many entries you can log. Keep track of all happy, sad, angry or frustrating moments.</p>
                    </div>
                </div>                   
            </div>
            
<!-- Relationship Status Card -->
            <div class="row my-4">
                <div class="col-12 col-md-6 mb-4">
                    <div class="relationship-border d-flex p-3">
                        <i class="fad fa-heart-square d-inline align-self-center icon-size"></i>
                        <p class="d-inline ml-3 align-self-center"><span class="home-card-headline font-weight-bold">Status Change</span><br><br>Watch your status change for each tab. Negative entries make your heart fade, while a positive entry will make it grow stronger.</p>
                    </div>
                </div>               
                                                           
<!-- Gift Card -->                
               
                <div class="col-12 col-md-6">
                    <div class="gift-card-border d-flex p-3">
                        <i class="fad fa-hand-holding-box d-inline align-self-center icon-size"></i>
                        <p class="d-inline ml-3 align-self-center"><span class="home-card-headline font-weight-bold">Send Thanks</span><br><br>Log a positive entry and show appreciation by sending a gift card or thank you email directly from their profile.</p>
                    </div>
                </div>   
            </div>                     

            
            
            <div class="row d-flex justify-content-center my-4">
                <a href="{{ url_for('register') }}" class="btn btn-lg register-btn-bottom text-center">Click Here To Get Started!</a>    
            </div>
            {% endif %}                
        </div>                       
    </div>

{% endblock %}