{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <hr class="home-hr rounded">
        <div class="col-lg-6 col-sm-12">
        </div>
        <div class="col-lg-6 col-sm-none pr-0">
            <div class="home-smiley-outer d-flex justify-content-end align-items-center mt-4 mb-4">
            <div class="home-smiley-inner">
                <img class="smile-cheeks img-responsive" src="static/images/smilecheeks.png" alt="">
            </div>    
            </div>
        </div>
    </div>
    <hr class="home-hr rounded">
</div>
{% endblock %}