{% extends "base.html" %}
{% block content %}


    <header>
<!-- Navigation for large screens -->
        <div class="nav-lg">
            <div class="row mx-4 mt-1">
                <div class="col-6 d-flex align-items-center">
                    <a href="{{ url_for('home') }}" class="navbar-logo">Keeping<strong>TABS</strong></a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">Take me back&nbsp;
                    <a href="{{ url_for('home') }}">HOME</a>&nbsp;or
                    <a href="{{ url_for('register') }}" type="button" class="btn nav-login ml-2 mt-1">Register</a>
                </div>     
            </div>
        </div>    
<!-- Nav for xs screens -->
        <div class="nav-sm">    
            <div class="row mx-1 mt-2">
                <div class="col-6 d-flex align-items-center">
                    <a href="{{ url_for('home') }}" class="navbar-logo ml-2 pb-0">Keeping<strong>TABS</strong></a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <a href="{{ url_for('home') }}">HOME</a>&nbsp;or
                    <a href="{{ url_for('register') }}" type="button" class="btn nav-login ml-2">Register</a>
                </div>     
            </div>
        </div>        
    </header>
<hr class="my-4 rounded">
    <content>

        <div class="container-fluid">    
            <div class="row text-center mb-4">
                <div class="col-12 headline">Don't forget!</div>
            </div>
<!-- Icon Row -->            
            <div class="row icon-row text-center my-2">
                <div class="col-4">
                    <i class="fas fa-gift-card dark-orange"></i>
                </div>
                <div class="col-4">
                    <i class="fas fa-envelope-open-text red"></i>
                </div>
                <div class="col-4">
                    <i class="fas fa-comment-smile dark-blue"></i>
                </div>
            </div>
<!-- Callout-->            
            <div class="d-flex justify-content-center">
                <div class="form-container">
                    <div class="row my-4">
                        <div class="col-12">
                        Appreciation is a key to any relationship. While it may be hard at times to 
                        forget the disappointments of your day, take a minute to keep tabs of someone that
                        provided a bright spot. No matter how small it may be. Send them a thank you gift, 
                        email or even a simple text message. Appreciating someone makes them feel good about 
                        what they do, and that it is making a difference to their lives.
                        </div>
                    </div>
                </div>
            </div>
<!-- Login Form -->
            <div class="d-flex justify-content-center">
                <div class="form-container blue my-3 p-4 mb-5">
                    <div class="row text-center text-white">
                        <div class="col-12 form-header">
                            <strong>Log in</strong>
                        </div>
                    </div>
                    <form method="POST" action="{{ url_for('login') }}">           
<!-- Username -->            
                        <div class="pt-4 d-flex justify-content-center">
                            <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate login-input text-center p-1" placeholder="Username" required>
                        </div>
<!-- Password -->             
                        <div class="pt-4 d-flex justify-content-center">
                            <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate login-input text-center p-1" placeholder="Password" required>
                        </div>
<!-- Login Button -->            
                        <div class="d-flex justify-content-center pt-4">
                            <button type="submit" class="btn login-btn btn-lg">Log in</button>
                        </div>    
                    </form>        
                </div>
            </div>
        </div>
    </content> 

{% endblock %}