{% extends "base.html" %}
{% block content %}

    <div id="content">
    
<!-- Feeling entry buttons-->
        <div class="container-fluid">
            <div class="feelings-container text-center d-flex justify-content-center">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="profile-header mb-3">How did {{ tab.tab_name.capitalize() }} do today?</div>
                        <div class="feelings">
                            <button onclick="setValues()" class="feelings-btn text-shadow happy-btn mr-4" data-toggle="modal" data-target="#entryModal">
                            <i class="far fa-smile happy"></i>
                            </button>
                            <button onclick="setValues()" class="feelings-btn text-shadow sad-btn mr-4" data-toggle="modal" data-target="#entryModal">
                            <i class="far fa-frown sad"></i>
                            </button>
                            <button onclick="setValues()" class="feelings-btn text-shadow angry-btn" data-toggle="modal" data-target="#entryModal">
                            <i class="far fa-angry angry"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 

<!-- Entry Modal -->

            <div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content entry-modal">
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <div class="form-container p-2 mb-4">
                                    <div class="row text-center text-white">
                                        <div class="col-12 form-header">
                                            <p><span class="insert-1"></span>{{ tab.tab_name.capitalize() }} <span class="insert-2"></span></p>
                                        </div>
                                    </div>
                                    <form name="entry-from" id="entry-form" method="POST" action="{{ url_for('entry_form', tab_id=tab._id) }}">
<!-- Hidden Inputs -->                  <input type="hidden" id="entry_emotion" name="entry_emotion" value="">
                                        <input type="hidden" id="entry_feeling" name="entry_feeling" value="">
                                        <input type="hidden" id="entry_date" name="entry_date" value="">
                                        <input type="hidden" id="entry_month" name="entry_month" value="">
                                        <input type="hidden" id="entry_day" name="entry_day" value="">
                                        <input type="hidden" id="entry_year" name="entry_year" value="">
                                        <input type="hidden" id="entry_name" name="entry_name" value={{ tab.tab_name }}> 
<!-- Entry Date -->
                                        <div class="d-flex text-white date justify-content-center">
                                            {{ month.capitalize() }} {{ day }}, {{ year }}
                                        </div>           
<!-- Entry Subject -->            
                                        <div class="pt-4 d-flex justify-content-center">
                                            <input id="entry_subject" name="entry_subject" type="text" minlength="1" maxlength="20" class="validate entry-input text-center p-1" placeholder="Subject">
                                        </div>
                                        <div class="text-center">
                                            <small class="w-100 text-white">*Not required. Short, one word subject.</small>
                                        </div>
<!-- Entry Details -->
                                        <div class="pt-4 d-flex justify-content-center">
                                            <textarea id="entry_details" name="entry_details" class="validate entry-input" maxlength="300" rows="3"></textarea>
                                        </div>
                                        <div class="text-center">
                                            <small class="w-100 text-white">*Details not required. Max 300 characters.</small>
                                        </div>          
<!-- Entry Submit/Delete -->            
                                        <div class="d-flex justify-content-center pt-4">
                                            <button type="submit" class="btn entry-button create-submit btn-lg mr-2">Submit</button>
                                            <button type="button" class="btn grey cancel-button" data-dismiss="modal">Cancel</button>
                                        </div>       
                                    </form>        
                                </div>
                            </div>                           
                        </div>
                    </div>        
                </div>
            </div>
            <div class="row d-flex justify-content-center mx-1 mt-5">
                <h2>Dashboard</h2> 
            </div>
            <hr class="mt-0">
            
<!-- Profile Dashboard -->            

<!-- Relationship Status -->
            <div class="row large-dashboard px-2 mb-3">
                <div class="col-12 col-md-6 col-lg-3 p-1">
                    <div class="tool-box text-center dark-grey p-2">
                        <h3 class="pb-4">Relationship Status</h3>
                        <div><i id="faHeart" style="opacity:{{ status }}" class="fas fa-heart"></i></div>
                    </div>
                </div>
<!-- Search Entries Form -->                
                <div class="col-12 col-md-6 col-lg-3 p-1">
                    <div class="search-box dark-grey d-flex flex-column align-items-center p-2">
                        <h3 class="pb-1 text-center">Search {{ tab.tab_name.capitalize() }}'s Entries</h3>
                        <form class="text-center" action="{{ url_for('search', tab_id=tab._id) }}" method="post">
                            <input type="hidden" id="search_name" name="search_name" value="{{ tab.tab_name }}"> 
                            <div class="d-flex justify-content-center py-2">
                                <input id="query" name="query" type="text" class="validate email-input text-center p-1" placeholder="Enter Keyword" required>
                            </div>
                            <button class="btn my-2 submitBtn" type="submit">Search</button>
                        </form>
                            <h5 class="d-none d-md-flex my-2">Search Ideas</h5> 
                            <p class="d-none d-md-flex justify-content-center">By Date: Month or Year<br>Emoticon: Angry, Happy, Sad<br>Keyword: Dishes, Mean, Work</p>       
                    </div>
                </div>             
<!-- Gift Card -->                 
                <div class="col-12 col-md-6 col-lg-3 p-1">
                    <div class="gift-box p-2">
                        <a target="_blank" href="https://www.starbucks.com/gift"><h3 class="pl-2 mb-2 d-flex justify-content-center align-middle dark-grey">Send {{ tab.tab_name.capitalize() }} love with a Starbucks gift card!</h3></a>
                        <div class="d-none d-md-block text-center"><a target="_blank" href="https://www.starbucks.com/gift"><i class="fad fa-coffee-togo mt-3 mb-2"></i></a>
                        </div>
                    </div>      
                </div> 
<!-- Send Email -->                
                <div class="col-12 col-md-6 col-lg-3 p-1">
                    <div class="tool-box dark-grey d-flex flex-column align-items-center p-2">
                        <h3 id="email-h3" class="pl-2 mb-3">Send {{ tab.tab_name.capitalize() }} an email?</h3>
                        <h1 id="email-h1" class="dark-grey no-show my-4">Email<br>Sent!</h1>
                        <form id="emailForm" onsubmit="return sendMail(this);" method="POST" autocomplete="off"> 
                            <div class="row d-flex justify-content-center">         
                                <input class="email-input text-center mb-2 validate" type="email" placeholder="To Email:" id="toEmail" name="toEmail" required>
                                <input class="email-input text-center mb-2" type="text" placeholder="Subject" id="subject" name="subject" required>
                                <textarea id="message" name="message" class="validate entry-input validate mb-2" maxlength="300" rows="3"></textarea>
                                <button id="emailSend" onclick="" class="btn text-center submitBtn mb-5" type="submit">Submit</button>
                            </div>    
                        </form>
                    </div>    
                </div>      
            </div>


        </div>    
    </div>
{% endblock %}
