{% extends "base.html" %}
{% block content %}

<!-- Navigation -->
    <header>
        <div class="row p-2">
            <div class="col-6 d-flex align-items center">
                <a href="{{ url_for('home') }}" class="navbar-logo ml-2 pb-0">Keeping<strong>TABS</strong></a>
            </div>      
            <div class="col-6 dropdown d-flex align-items-start justify-content-end dropleft">
                <button class="hamburger btn shadow-none bg-transparent" type="button" id="hamburgerMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars pb-0 mr-1" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="hamburgerMenu">
                    <a class="dropdown-item" href="{{ url_for('home') }}">Home</a>
                    <a class="dropdown-item" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                </div>
            </div>     
        </div>    
    </header>

    <div class="row">
        <div class="col-12">
            <h3>{{ username }}'s Profile</h3>
        </div>
    </div>

    

{% endblock %}
