{% extends "base.html" %}
{% block content %}


    <header>
<!-- Navigation large screens-->
        <div class="nav-lg">
            <div class="row mx-4 mt-2">
                <div class="col-6 d-flex align-items-center">
                    <a href="{{ url_for('home') }}" class="navbar-logo">
                    Keeping<strong>TABS</strong></a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">Take me back&nbsp;
                    <a href="{{ url_for('home') }}">HOME</a>&nbsp;or
                    <a href="{{ url_for('login') }}" class="btn nav-login mt-1 ml-2">Log in</a>
                </div>     
            </div>
        </div>    
<!-- Nav for xs screens -->
        <div class="nav-sm">    
            <div class="row mx-1 mt-2">
                <div class="col-6 d-flex align-items-center">
                    <a href="{{ url_for('home') }}" class="navbar-logo">
                    Keeping<strong>TABS</strong></a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <a href="{{ url_for('home') }}">HOME</a>&nbsp;or
                    <a href="{{ url_for('login') }}" class="btn nav-login ml-2">Log in</a>
                </div>     
            </div>
        </div>        
    </header>
<hr class="my-4">
    <div id="content">

        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-12 text-center headline">
                <strong>Let's get started!</strong>
                </div>
            </div>
<!-- Icon Row -->
            <div class="row icon-row text-center my-2">
                <div class="col-4">
                    <i class="fas fa-user-plus happy"></i>
                </div>
                <div class="col-4">
                    <i class="fas fa-user-lock angry"></i>
                </div>
                <div class="col-4">
                    <i class="fas fa-envelope sad"></i>
                </div>
            </div>
<!-- Registration Rules-->
                <div class="d-flex justify-content-center my-4">       
                    <div class="form-container my-3 p-4 blue">
                        <div class="row mb-2">
                            <div class="col-12 text-center form-header">
                            <strong>Create Secure Password:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">  
                                <ul>
                                    <li>Must be 7 to 20 characters long</li>
                                    <li class="my-2">Can contain upper or lowercase letters</li>
                                    <li>May use any letter A to Z or number 0 to 9</li>
                                </ul>
                            </div>
                        </div>          
                    </div> 
                </div> 
            
<!-- Registration Form -->
            <div class="d-flex justify-content-center">    
                <div class="form-container p-3 mt-2 mb-5 reg-background">
                    <div class="row form-header text-center text-white">
                        <div class="col-12">
                            <strong>Register</strong>
                        </div>
                    </div>
                    <form method="POST" action="{{ url_for('register') }}">
<!-- Email Address -->             
                        <div class="pt-4 d-flex justify-content-center">
                            <input id="email" name="email" type="text" class="reg-input text-center p-1" placeholder="Email Address" required>
                        </div>                              
<!-- First Name -->            
                        <div class="pt-4 d-flex justify-content-center">
                            <input id="username" name="username" type="text" class="validate reg-input text-center p-1" placeholder="First Name" required>
                        </div>
<!-- Password -->             
                        <div class="pt-4 d-flex justify-content-center">
                            <input id="password" name="password" type="password" minlength="7" maxlength="20" pattern="^[a-zA-Z0-9]{7,20}$" class="validate reg-input text-center p-1" placeholder="Password" required>
                        </div>

<!-- Registration Button -->            
                        <div class="d-flex justify-content-center py-4">
                            <button type="submit" class="btn reg-btn btn-lg">Go!</button>
                        </div>    
                    </form>        
                </div>
            </div>
        </div>    
    </div>    

{% endblock %}