{% extends "base.html" %}    
{% block content %}

    <div id="content">
        <div class="container-fluid">

<!-- Back To Profile -->

            <div class="row">
                <div class="col-12 d-flex justify-content-start">
                    <a href="{{ url_for('profile', tab_id=tab._id) }}" class="black mt-2"><strong>Back to {{ tab.tab_name.capitalize() }}'s profile</strong></a>
                </div>
            </div>
<!-- Results Page Header -->     

            <div class="row text-center my-2">
                <div class="col-12">
                    <h1>Entry Update Successful!</h1>
                </div>
            </div>

<!-- New Search Form -->
            <div class="col-12 mb-4 d-flex justify-content-center ">
                <form action="{{ url_for('search', tab_id=tab._id) }}" method="post">
                    <input type="hidden" id="search_name" name="search_name" value="{{ tab.tab_name }}"> 
                    <div class="d-flex justify-content-center py-2">
                        <input id="query" name="query" type="text" class="validate email-input text-center p-1" placeholder="Enter New Search" required>
                        <button class="btn text-center newSubmit ml-2" type="submit">Search</button>
                    </div>    
                </form>
            </div>

      
        </div>
    </div>       

{% endblock %}