{% extends "base.html" %}    
{% block content %}

    <div id="content">
        <div class="container-fluid">

<!-- Tab Page Header -->     

            <div class="row text-center my-2">
                <div class="col-12">
                    <h1>{{ username.capitalize() }}'s TABS</h1>
                </div>
            </div>
            

<!-- Add/Edit/Delete Button-->
            <div class="row">
                <div class="col-6 my-4 col-md-3 d-flex justify-content-center">
                    <div class="text-center">
                        <button type="button" class="add-edit-delete text-center">
                        <i class="fas fa-user mb-3"></i>
                        </button>
                        <h5>Add/Delete</h5>
                        <div class="no-show">
                            <button onclick="setValues()" class="btn nav-login mt-1" data-toggle="modal" data-target="#newTabModal">Create New</button>
                        </div>
                    </div>
                </div>

<!-- New Tab Modal -->

                <div class="modal fade" id="newTabModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content modal-new">
                            <div class="modal-body">
                                <div class="d-flex justify-content-center">
                                    <div class="form-container my-3 p-4 mb-5">
                                        <div class="row text-center text-white">
                                            <div class="col-12 form-header">
                                                <strong>Create New Tab</strong>
                                            </div>
                                        </div>
                                        <form name="add_tab" id="add_tab" method="POST" action="{{ url_for('add_tab') }}">
<!-- Hidden Inputs -->                                            
                                            <input type="hidden" id="entry_emotion" name="entry_emotion" value="smile">
                                            <input type="hidden" id="entry_date" name="entry_date" value="">
                                            <input type="hidden" id="entry_subject" name="entry_subject" value="Created New Tab">
                                            <input type="hidden" id="entry_details" name="entry_details" value="This entry will not count for your relationship status, it's just to celebrate the birth of your new tab!">
                                            <input type="hidden" id="entry_feeling" name="entry_feeling" value="no-show">           
<!-- Tab Name -->            
                                            <div class="pt-4 d-flex justify-content-center">
                                                <input type="text" id="tab_name" name="tab_name" minlength="1" maxlength="15" class="validate new-input text-center p-1" placeholder="Tab Name" required>
                                            </div>
                                            <div class="text-center"><small class="w-100 text-white">(Max length 15 characters.)</small></div>
<!-- Submit Button -->            
                                            <div class="d-flex justify-content-center pt-4">
                                                <button type="submit" class="btn new-btn create-submit btn-lg">Submit</button>
                                            </div>    
                                        </form>        
                                    </div>
                                </div>                           
                            </div>
                        </div>        
                    </div>
                </div>

<!-- Tabs -->     

            {% for tab in tabs %}
                <div class="col-6 my-4 col-md-3 d-flex justify-content-center">
                    <div class="text-center">
                        <a href="{{ url_for('profile', tab_id=tab._id) }}" class=""><i class="fad fa-user mb-3"></i><br></a>
                        <h5 class="w-200">{{ tab.tab_name.capitalize() }}</h5>
                        <div class="no-show">
                            <a href="{{ url_for('delete_tab', tab_id=tab._id) }}" class="btn nav-login mt-2" data-toggle="modal" data-target="#deleteModal{{ loop.index }}">Delete</a>
                        </div>
                    </div>
                </div>    

<!-- Delete Tabs Modal -->

                <div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content modal-delete">
                            <div class="modal-body">
                                <div class="d-flex justify-content-center">
                                    <div class="form-container my-3 p-4 mb-5">
                                        <div class="row text-center text-white">
                                            <div class="col-12 form-header">
                                                <strong>Are you sure you want to delete this tab?</strong>
                                            </div>
                                        </div>
                                        <form name="delete_tab{{ loop.index }}" id="delete_tab{{ loop.index }}" method="GET" action="{{ url_for('delete_tab', tab_id=tab._id) }}">           
<!-- Delete Button -->                      
                                            <div class="d-flex justify-content-center pt-4">
                                                <button type="submit" class="btn delete-btn create-submit btn-lg">Delete</button>
                                            </div>      
                                        </form>        
                                    </div>
                                </div>                           
                            </div>
                        </div>        
                    </div>
                </div>
            {% endfor %}            
            </div>
        </div>   
    </div>        

{% endblock %}
