{% extends "base.html" %}    
{% block content %}

    <div id="content">
        <div class="container-fluid">

<!-- Tab Page Header -->     

            <div class="row text-center my-2">
                <div class="col-12">
                    <h1>{{ username }}'s TABS</h1>
                </div>
            </div>
            <div class="row">

<!-- Add New Tab Button-->

                <div class="col-6 my-4 col-md-3 d-flex justify-content-center">
                    <div class="user text-center">
                        <i class="fas fa-user mb-3 dark-grey"></i><br>
                        <button type="button" class="btn btn-lg add-tab-btn text-center" data-toggle="modal" data-target="#newTabModal">Create New
                        </button>
                    </div>
                </div>

<!-- New Tab Modal -->

                <div class="modal fade" id="newTabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="d-flex justify-content-center">
                                    <div class="form-container my-3 p-4 mb-5">
                                        <div class="row text-center text-white">
                                            <div class="col-12 form-header">
                                                <strong>Create New Tab</strong>
                                            </div>
                                        </div>
                                        <form method="POST" action="{{ url_for('get_tabs') }}">           
<!-- Tab Name -->            
                                            <div class="pt-4 d-flex justify-content-center">
                                                <input id="tab_name" name="tab_name" type="text" minlength="1" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate tab-input text-center p-1" placeholder="Tab Name" required>
                                            </div>
                                            <div class="text-center"><small class="w-100 text-white">(Max length 15 characters. Letters or numbers ok.)</small></div>
<!-- Submit Button -->            
                                            <div class="d-flex justify-content-center pt-4">
                                                <button type="submit" class="btn create-submit btn-lg">Submit</button>
                                            </div>    
                                        </form>        
                                    </div>
                                </div>                           
                            </div>
                        </div>        
                    </div>
                </div>
<!-- Tabs -->     

            {% for tab in tabs %}
                <div class="col-6 my-4 col-md-3 d-flex justify-content-center">
                    <div class="user text-center">
                        <i class="fad fa-user mb-3"></i><br>
                        <a href="{{ url_for('get_tabs', username=session['user']) }}" class="btn btn-lg tab-btn text-center">{{ tab.tab_name }}</a>
                    </div>
                </div>
            {% endfor %}    
            </div>
        </div>   
    </div>        

{% endblock %}
